<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.forcuriousminds" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>For Curious Minds</name>
    <description>
        A puzzle game for curious people.
    </description>
    <author email="jeffkillian@gmail.com" href="http://jeffkillian.com">
        Jeff Killian
    </author>
    <content src="index.html" />
</widget>
