 @font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf") format("truetype");   
}

@font-face {
    font-family: "OxygenMono";
    src: url("OxygenMono-Regular.ttf") format("truetype");   
}
#appContents {
    font-family: "Poppins";
}
@cell-background:rgba(80, 108, 172, 0.25);

.title {
    text-align: center;
    font-size:20px;
    margin-top: 20px;
}

.currentTime {
    font-family: "OxygenMono";
    text-align: center;
    font-size:40px;
    margin: 36px 0px;
    background-color:#c3c3c3;
    font-style: normal;
}

.button {
    text-align: center;
    margin-bottom: 10px;
}

.start-button {
    padding: 20px;
    width: 40%;
}

.cell {
    text-align: center;

    .cell-value {
        font-size:23px;
        font-family:"OxygenMono"

    }

    margin-bottom: 8px;
    padding: 13px;
    background: @cell-background;

}

 
.wow-image {
    -webkit-animation: rotation 8s infinite linear;
    width: 89%;
    margin-top: 125px;

}

@-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
}

.small-font {
    font-size: 12px !important;
}




/* The animation code */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left: calc(100% - 64px); top:0px;}
    50%  {background-color:blue;  left: calc(100% - 64px); top:calc(100% - 85px);}
    75%  {background-color:green; left:0px; top:calc(100% - 85px)}
    100% {background-color:red; left:0px; top:0px;}
}

.crawlImage {
    position:absolute;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.imageSize {
    width: 64px;
    height:85px;
}



