@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OxygenMono";
  src: url("OxygenMono-Regular.ttf") format("truetype");
}
* {
  font-family: "Poppins";
}
.title {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #313e62;
  color: white;
  box-shadow: 0px 3px 10px #888888;
}
.currentTime {
  font-family: "OxygenMono";
  text-align: center;
  font-size: 40px;
  margin: 36px 0px;
  background-color: #c3c3c3;
  font-style: normal;
  text-shadow: 2px 2px 8px rgba(103, 103, 103, 0.87843137);
}
.button {
  text-align: center;
  margin-bottom: 10px;
}
.start-button {
  padding: 20px;
  width: 60%;
  height: 75px;
  font-size: 2em !important;
}
.cell {
  text-align: center;
  margin-bottom: 8px;
  padding: 13px;
  background: rgba(80, 108, 172, 0.25);
}
.cell .cell-value {
  font-size: 23px;
  font-family: "OxygenMono";
}
.wow-image {
  -webkit-animation: rotation 8s infinite linear;
  width: 89%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* The animation code */
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: calc(100% - 64px);
    top: 0px;
  }
  50% {
    background-color: blue;
    left: calc(100% - 64px);
    top: calc(100% - 85px);
  }
  75% {
    background-color: green;
    left: 0px;
    top: calc(100% - 85px);
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.crawlImage {
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.imageSize {
  width: 64px;
  height: 85px;
}
