@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OxygenMono";
  src: url("OxygenMono-Regular.ttf") format("truetype");
}
* {
  font-family: "Poppins";
}
.title {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #313e62;
  color: white;
  box-shadow: 0px 3px 10px #888888;
}
.currentTime {
  font-family: "OxygenMono";
  text-align: center;
  font-size: 40px;
  margin: 36px 0px;
  background-color: #c3c3c3;
  font-style: normal;
  text-shadow: 2px 2px 8px rgba(103, 103, 103, 0.87843137);
}
.button {
  text-align: center;
  margin-bottom: 10px;
}
.start-button {
  padding: 20px;
  width: 60%;
  height: 75px;
  font-size: 2em !important;
}
.cell {
  text-align: center;
  margin-bottom: 8px;
  padding: 13px;
  background: rgba(80, 108, 172, 0.25);
}
.cell .cell-value {
  font-size: 23px;
  font-family: "OxygenMono";
}
.fireworks-container {
  height: 500px;
}
.wow-image {
  -webkit-animation: rotation 8s infinite linear;
  width: 89%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* The animation code */
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: calc(100% - 64px);
    top: 0px;
  }
  50% {
    background-color: blue;
    left: calc(100% - 64px);
    top: calc(100% - 85px);
  }
  75% {
    background-color: green;
    left: 0px;
    top: calc(100% - 85px);
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.bg-red {
  background-color: red;
}
.crawlImage {
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.imageSize {
  width: 64px;
  height: 85px;
}
.centered {
  padding-top: 50%;
  padding-bottom: 50%;
  text-align: center;
}
.hcentered {
  text-align: center;
}
.lightUp {
  height: 50px;
  width: 11%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.highlighted {
  animation: colorchange 1s;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 1s;
  /* Chrome and Safari */
}
@keyframes colorchange {
  0% {
    background: red;
  }
  100% {
    background: white;
  }
}
@-webkit-keyframes colorchange {
  /* Safari and Chrome - necessary duplicate */
  0% {
    background: red;
  }
  100% {
    background: white;
  }
}
.touch {
  height: 50px;
  width: 50px;
  position: absolute;
}
.touch1 {
  top: 20px;
  left: 20px;
}
.touch2 {
  top: 200px;
  left: 150px;
}
.touch3 {
  top: 87px;
  left: 85px;
}
.touch4 {
  top: 251px;
  left: -237px;
}
.touch5 {
  top: 303.3px;
  left: 150px;
}
.touch6 {
  top: 82px;
  left: 50px;
}
.touch7 {
  top: -35px;
  left: 41px;
}
.touch8 {
  top: 333px;
  left: -230px;
}
.touch9 {
  top: 0px;
  left: 0px;
}
.touchSquare {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  background-color: #71b8f5;
}
.margin-none {
  margin: 0 !important ;
}
.margin-top-none {
  margin-top: 0 !important;
}
.margin-top-quarter {
  margin-top: 0.25em;
}
.margin-top-half {
  margin-top: 0.5em;
}
.margin-top-one {
  margin-top: 1em;
}
.margin-top-two {
  margin-top: 2em;
}
.margin-top-three {
  margin-top: 3em;
}
.margin-top-four {
  margin-top: 4em;
}
.margin-right-none {
  margin-right: 0;
}
.margin-right-quarter {
  margin-right: 0.25em;
}
.margin-right-half {
  margin-right: 0.5em;
}
.margin-right-one {
  margin-right: 1em;
}
.margin-right-two {
  margin-right: 2em;
}
.margin-right-three {
  margin-right: 3em;
}
.margin-right-four {
  margin-right: 4em;
}
.margin-bottom-none {
  margin-bottom: 0 !important;
}
.margin-bottom-quarter {
  margin-bottom: 0.25em !important;
}
.margin-bottom-half {
  margin-bottom: 0.5em !important;
}
.margin-bottom-one {
  margin-bottom: 1em !important;
}
.margin-bottom-two {
  margin-bottom: 2em !important;
}
.margin-bottom-three {
  margin-bottom: 3em;
}
.margin-bottom-four {
  margin-bottom: 4em;
}
.margin-left-none {
  margin-left: 0;
}
.margin-left-quarter {
  margin-left: 0.25em;
}
.margin-left-half {
  margin-left: 0.5em;
}
.margin-left-one {
  margin-left: 1em;
}
.margin-left-two {
  margin-left: 2em;
}
.margin-left-three {
  margin-left: 3em;
}
.margin-left-four {
  margin-left: 4em;
}
